.chart-line-section{
  .infoNum {
	display: -webkit-box;
	padding: 15px;
  }
  .monthPercent {
	padding: 0px 15px;
	border-right: 1px solid #eee;
  }
  .infoNum .number {
	height: 18px;
	line-height: 18px;
	font-size: 16px;
	color: #e52416;
	text-align: right;
  }
  .infoNum .loss .number {
	color: #39cf94;
  }
  .infoNum .label {
	height: 14px;
	line-height: 14px;
	font-size: 10px;
	color: #666;
	text-align: right;
  }
  .monthNum {
	padding-left: 15px;
  }
  .label-section {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 15px;
	position: relative;
	opacity: 0.5;
  }
  .left-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: absolute;
	top: 60px;
	padding: 0;
	margin: 0;
	left: 60px;
  }
  .left-section > div {
	height: 85px;
  }
  .left-section > div:nth-child(2) {
	height: 85px;
  }
  .right-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: absolute;
	top: 60px;
	padding: 0;
	margin: 0;
	right: 70px;
  }
  .right-section > div {
	height: 85px;
  }
  .right-section > div:nth-child(2) {
	height: 85px;
  }
}