.detailFooterSection{
  .tel {
	  img {
		  width: 60px;
		  height: 60px;
	  }
  }
  .serRecord {
	  img {
		  width: 60px;
		  height: 60px;
	  }
  }
  .telContent {
	  font-size: 32px;
  }
  .recordContent {
	  font-size: 32px;
  }
  .serRecord > div:nth-child(2) .am-list-extra{
    flex-basis: 60%;
    font-size: 14px;
  }
  .tel .am-list-line{
    border-bottom: 2Px solid #efefef;
    height: 1Px;
  }
  .am-list-body div:not(:last-child) .am-list-line:after{
    border-bottom: 0Px !important;
  }
}
