.detailFooterSection{
  .tel {
	  img {
		  width: 60px;
		  height: 60px;
	  }
  }
  .serRecord {
	  img {
		  width: 60px;
		  height: 60px;
	  }
  }
  .telContent {
	  font-size: 32px;
  }
  .recordContent {
	  font-size: 32px;
  }
  .serRecord > div:nth-child(2) .am-list-extra{
    flex-basis: 60%;
  }
}
