.customer-search {

  .customer-header {
    display: flex;
    align-items: center;

    &-select {
      width: 200px;
    }

    &-search {
      flex: 1;
    }
  }

  .history-clear {
    display: inline-block;
    float: right;
    right: 10px;
    color: #108ee9;
  }
}