.TaskMenu {
  .flex-container {
    height: 120px;
    line-height: 120px;
    background-color: #d33c31;
    color: white;
    width: 100%;
    margin: 0;
    position: fixed;
    bottom: 0;
  }
  .flex-container .inline {
    width: 1.6rem!important;
    margin: 0.18rem 0.18rem 0.18rem 0;
  }
  .flex-container .small {
    height: 0.4rem!important;
    line-height: 0.4rem!important;
  }
  .emailItem,
  .completeItem {
    background-color: '#d33c31';
    color: '#bbb';
    text-align: 'center';
    height: '120px';
    line-height: '120px';
    width: '100%';
  }
  .am-flexbox .am-flexbox-item{
    font-size: 32px;
    text-align: center;
  }
  .am-flexbox .am-flexbox-item:nth-child(1){
    border-right: 1px solid #e65f56;
  }
}