@contain-bg: #ffffff;
.task-detail{
  .task-desc{
    padding: 0 30px;
    margin: 0 0 20px 0;
    background-color: @contain-bg;
  }
  .task-desc .til{
    padding: 15px 0;
    line-height: 1.2;
    text-indent: 70px;
    font-size: 34px;
    font-weight: 700;
    border-bottom: 1PX solid #efefef;
    background: transparent url(../../../static/img/task-icon.png) no-repeat 0 30px;
    background-size: 40px 40px;
  }
  .task-desc .desc{
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: #ffffff;
    border-width: 13px 0 24px 0;
  }
  .task-desc .desc.up{
    max-height: 80px;
    overflow: hidden;
  }
  .task-desc .desc.down{
    max-height: 300px;
    overflow-y: scroll;
  }
  .task-desc .desc p{
    margin: 0;
    font-size: 28px;
    font-weight: 300;
    text-indent: 0;
    line-height: 40px;
  }
  .task-list{
    background-color: #efefef;
  }
  .task-list .item{
    height: 196px;
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
    background-color: @contain-bg;
    .card{
      display: inline-block;
      width: 90px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: 90px 30px;
    }
    .card.emptyCard {
      background: url('../../../static/img/emptyCard.png');
    }
    .card.goldCard {
      background: url('../../../static/img/goldenCard.png');
    }
    .card.silverCard {
      background: url('../../../static/img/silverCard.png');
    }
    .card.diamondCard {
      background: url('../../../static/img/diamondCard.png');
    }
    .card.financeCard {
      background: url('../../../static/img/financeCard.png');
    }
    .card.whiteGoldCard {
      background: url('../../../static/img/whGoldenCard.png');
    }
  }
  .task-list .item .top{
    position: relative;
    overflow: hidden;
    height: 125px;
    line-height: 0;
    text-indent: 0;
    .photo{
      position: absolute;
      top: 23px;
      left: 0;
      width: 80px;
      height: 80px;
      text-align: center;
      line-height: 80px;
      font-size: 50px;
      border-radius: 50%;
      background: transparent url('../../../static/img/perHeadLogo.png') no-repeat center center;
      background-size: 100% 100%;
    }
    .more{
      position: absolute;
      top: 23px;
      right: 30px;
      line-height: 80px;
      height: 28px;
    }
    .iconfont.icon-kehu01:before{
      color: #ffffff;
    }
    .iconfont.icon-more:before{
      color: #c3c2c2;
    }
    .info{
      height: 126px;
      margin: 0 70px 0 97px;
      line-height: 1;
      background-color: RGBA(255,0,0,.1);
      overflow: hidden;
    }
    .cust-name{
      margin: 8px 0 0 0;
      line-height: 70px;
      font-size: 32px;
      color: #1d1d26;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .btn{
      display: inline-block;
      height: 36px;
      padding: 0 10px;
      line-height: 36px;
      font-size: 20px;
      border: 1PX solid #ca4c40;
      border-radius: 5px;
      color: #ca4c40;
    }
  }
  .task-list .item .bot{
    margin: 0 0 0 9px;
    padding: 0 55px 0 0;
    height: 70px;
    font-size: 28px;
    border-top: 1PX dashed #000000;
  }
  .task-list .item .bot p{
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .task-list .item .bot .iconfont{
    font-size: 30px;
    margin-right: 15px;
  }

}