// 路由过场动画
.app {
  > section {
    > div {
      position: relative;
    }
  }
}

.page-enter,
.page-enter-active,
.page-reverse-enter,
.page-reverse-enter-active {
  transition: left .5s ease-in;
}

// PUSH过场
.page-enter {
  left: 100%;
  &.page-enter-active {
    left: 0;
  }
}

.page-leave {
  left: 0;
  &.page-leave-active {
    left: -100%;
  }
}

// POP过场
.page-reverse-enter {
  left: -100%;
  &.page-reverse-enter-active {
    left: 0;
  }
}

.page-reverse-leave {
  left: 0;
  &.page-reverse-leave-active {
    left: 100%;
  }
}



