/**
 * tabbar
 */
 .app {

  .@{tabbar-prefix-cls} {
    .@{tabbar-prefix-cls}-tab {
      &-title {
        font-size: 20px;
      }
    }
  }

  .@{searchPrefixCls} {
    &.@{searchPrefixCls}-start {
      .@{searchPrefixCls}-input {
        input[type="search"] {
          padding-left: 6px;
          padding-right: 48px;
        }
      }
    }
  }

  .fixed-header, .@{navbarPrefixCls} {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: @navbar-height;
    z-index: 1;

    & + div, & + section, & + p {
      margin-top: @navbar-height;
    }
  }

  /** Loading不遮挡导航栏 */
  .@{activityIndicatorPrefixCls}.@{activityIndicatorPrefixCls}-toast {
    top: @navbar-height;
    .@{activityIndicatorPrefixCls}-content {
      transform: translateY(-@navbar-height);
    }
  }
}


// modify by sunweibin ==begin
/**
 * foot tablit am-tab-bar-bar
 */
.am-tab-bar-bar {
  height: @tabbar-height;
}
/**
 * foot tablist tab iconfont
 */

.am-tab-bar-tab-icon {
  & .iconfont {
    font-size: 40px;
  }
}

// modify by sunweibin ==end