/**
 * tabbar
 */
 .app {

  .@{tabbar-prefix-cls} {
    .@{tabbar-prefix-cls}-tab {
      &-title {
        font-size: 20px;
      }
    }
  }

  .@{searchPrefixCls} {
    &.@{searchPrefixCls}-start {
      .@{searchPrefixCls}-input {
        input[type="search"] {
          padding-left: 6px;
          padding-right: 48px;
        }
      }
    }
  }
}


// modify by sunweibin ==begin
/**
 * foot tablit am-tab-bar-bar
 */
.am-tab-bar-bar {
  height: 100px;
}
/**
 * foot tablist tab iconfont
 */

.am-tab-bar-tab-icon {
  & .iconfont {
    font-size: 40px;
  }
}

// modify by sunweibin ==end