@import "./variable";
@import "./util";
@import "./icon";
@import "./animation";
@import "./antd";
@import "./list";
@import "./searchbar";

body, html {
  height: 100%;
}

p {
  margin: 12px 0;
}

.@{tabbar-prefix-cls}-tabpane {
  section {
    > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}
