.contact-org-detail{
  width: 100%;
  padding-bottom: 80px;
  background-color: #ffffff;
  overflow-x: hidden;
  .item{
    position: relative;
    overflow: hidden;
    height: 120px;
    .iconfont{
      position: absolute;
      top: 40px;
      left: 30px;
      font-size: 35px;
      color: #d33a31;
    }
    .data{
      display: flex;
      height: 118px;
      margin: 0 0 0 85px;
      padding: 0;
      align-items: center;
      p{
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 30px;
      }
      p:nth-child(2){
        text-align: right;
        padding-right: 30px;
        color: #807f7f;
        font-size: 28px;
      }
    }
    .btn{
      display: none;
    }
    hr{
      margin-left: 80px;
      height: 1PX;
      line-height: 1PX;
      border: none;
      background-color: #ebecec;
    }
  }
  .item.email{
    height: 160px;
    .data{
      height: 158px;
      p{
        margin-top: -33px;
      }
    }
    .btn{
      display: inline-block;
      position: absolute;
      right: 30px;
      bottom: 15px;
      line-height: 1;
      padding: 10px 20px;
      font-size: 26px;
      color: #2694e4;
      border: 1PX solid #2694e4;
      border-radius: 5px;
    }
  }
}