.am-navbar-title{
  max-width: 70%;
  overflow: hidden;
  p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.cust-basic-list{
  margin: 0 auto 50px auto;
  padding-bottom: 50px;
  .am-list-body{
    border: none;
    div:not(:last-child){
      .am-list-line:after{
        border-bottom: 1PX solid #efefef;
      }
    }
    .am-list-item {
      min-height: 129px;
      .am-list-line {
        .am-list-content{
          flex: 2;
          color: #333333;
        }
        .am-list-extra{
          flex: 3;
          color: #666666;
        }
      }
    }
  }
}